<div
    class="row"
    >

    <div class="col-md-12">

        <h1 class="sg">Ficha de Inscrição</h1>

        <hr>

        <form role="form">

            <div class="form-group">

                <label for="nome_completo">Nome Completo</label>

                <input
                    type="text"
                    id="nome_completo"
                    class="form-control"
                    >

            </div>

            <div class="form-group">

                <label for="data_de_nascimento">Data de Nascimento</label>

                <input
                    type="text"
                    id="data_de_nascimento"
                    class="form-control"
                    >

                <p class="help-block">Exemplo: 5/8/1981</p>

            </div>

            <label for="sexo">Sexo</label>

            <div class="radio">

                <label><input
                    type="radio"
                    id="Feminino"
                    name="sexo"
                    value="Feminino"
                    checked
                    > Feminino
                </label>

            </div>

            <div class="radio">

                <label><input
                    type="radio"
                    id="Masculino"
                    name="sexo"
                    value="Masculino"
                    > Masculino
                </label>

            </div>

            <div class="form-group">

                <label for="email">E-mail</label>

                <input
                    type="text"
                    id="email"
                    class="form-control"
                    >

            </div>

            <div class="checkbox">

                <label><input
                    type="checkbox"
                    > Não sou brasileiro
                </label>

            </div>

            <fieldset class="sg">

                <legend class="sg">Documento de Identificação</legend>

                <div class="form-group">

                    <label for="cpf">CPF</label>

                    <input
                        type="text"
                        id="cpf"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="nome_do_documento">Nome do Documento</label>

                    <input
                        type="text"
                        id="nome_do_documento"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="codigo_do_documento">Còdigo do Documento</label>

                    <input
                        type="text"
                        id="codigo_do_documento"
                        class="form-control"
                        >

                </div>

            </fieldset>

            <fieldset class="sg">

                <legend class="sg">Telefones</legend>

                <div class="form-group">

                    <label for="codigo_internacional_1">Código Internacional</label>

                    <input
                        type="text"
                        id="codigo_internacional_1"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="codigo_nacional_1">Código Nacional</label>

                    <input
                        type="text"
                        id="codigo_nacional_1"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="numero_1">Número</label>

                    <input
                        type="text"
                        id="numero_1"
                        class="form-control"
                        >

                </div>

                <hr>

                <div class="form-group">

                    <label for="codigo_internacional_2">Código Internacional</label>

                    <input
                        type="text"
                        id="codigo_internacional_2"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="codigo_nacional_2">Código Nacional</label>

                    <input
                        type="text"
                        id="codigo_nacional_2"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="numero_2">Número</label>

                    <input
                        type="text"
                        id="numero_2"
                        class="form-control"
                        >

                </div>

                <hr>

                <div class="form-group">

                    <label for="codigo_internacional_3">Código Internacional</label>

                    <input
                        type="text"
                        id="codigo_internacional_3"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="codigo_nacional_3">Código Nacional</label>

                    <input
                        type="text"
                        id="codigo_nacional_3"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="numero_3">Número</label>

                    <input
                        type="text"
                        id="numero_3"
                        class="form-control"
                        >

                </div>

            </fieldset>

            <fieldset class="sg">

                <legend class="sg">Endereço</legend>

                <div class="form-group">

                    <label for="logradouro">Logradouro</label>

                    <input
                        type="text"
                        id="logradouro"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="numero">Número</label>

                    <input
                        type="text"
                        id="numero"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="complemento">Complemento</label>

                    <input
                        type="text"
                        id="complemento"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="bairro">Bairro</label>

                    <input
                        type="text"
                        id="bairro"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="localidade">Localidade</label>

                    <input
                        type="text"
                        id="localidade"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="uf">UF</label>

                    <input
                        type="text"
                        id="uf"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="cep">CEP</label>

                    <input
                        type="text"
                        id="cep"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="endereco">Endereço Completo</label>

                    <textarea
                        id="endereco"
                        class="form-control"
                        rows="3"
                        >
                    </textarea>

                </div>

            </fieldset>

            <fieldset class="sg">

                <legend class="sg">Detalhes da Inscrição</legend>

                <div class="form-group">

                    <label for="nome_no_cracha">Nome no Crachá</label>

                    <input
                        type="text"
                        id="nome_no_cracha"
                        class="form-control"
                        >

                </div>

                <label for="categoria">Categoria</label>

                <div class="radio">

                    <label><input
                        type="radio"
                        id="Estudante"
                        name="categoria"
                        value="Estudante"
                        checked
                        > Estudante
                    </label>

                </div>

                <div class="radio">

                    <label><input
                        type="radio"
                        id="Profissional"
                        name="categoria"
                        value="Profissional"
                        > Profissional
                    </label>

                </div>

                <div class="form-group">

                    <label for="curso_ou_formacao">Curso ou Formação</label>

                    <input
                        type="text"
                        id="curso_ou_formacao"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="acronimo_da_instituicao_ou_empresa">Acrônimo da Instituição ou Empresa</label>

                    <input
                        type="text"
                        id="acronimo_da_instituicao_ou_empresa"
                        class="form-control"
                        >

                </div>

                <div class="form-group">

                    <label for="nome_da_instituicao_ou_empresa">Nome da Instituição ou Empresa</label>

                    <input
                        type="text"
                        id="nome_da_instituicao_ou_empresa"
                        class="form-control"
                        >

                </div>

            </fieldset>

            <button type="submit" class="btn btn-default">Salvar</button>

        </form>

    </div>

</div>
