<div
    class="row"
    id="ficha"
    >

    <div
        class="col-md-12"
        >

        <h1>Ficha de Inscrição</h1>

        <hr>

        <form
            role="form"
            >

            <div
                class="form-group"
                >

                <label
                    for="nome_completo"
                    >Nome Completo
                </label>

                <input
                    class="form-control"
                    id="nome_completo"
                    type="text"
                    >

            </div>

            <div
                class="form-group"
                >

                <label
                    for="data_de_nascimento"
                    >Data de Nascimento
                </label>

                <input
                    class="form-control"
                    id="data_de_nascimento"
                    type="text"
                    >

                <p
                    class="help-block"
                    >Exemplo: 5/8/1981
                </p>

            </div>

            <div
                class="form-group"
                >

                <label
                    for="sexo"
                    >Sexo
                </label>

                <div
                    class="radio"
                    >

                    <label><input
                        checked
                        id="Feminino"
                        name="sexo"
                        type="radio"
                        value="Feminino"
                        > Feminino
                    </label>

                </div>

                <div
                    class="radio"
                    >

                    <label><input
                        id="Masculino"
                        name="sexo"
                        type="radio"
                        value="Masculino"
                        > Masculino
                    </label>

                </div>

            </div>

            <div
                class="form-group"
                >

                <label
                    for="email"
                    >E-mail
                </label>

                <input
                    class="form-control"
                    id="email"
                    type="text"
                    >

            </div>

            <div
                class="form-group"
                >

                <div
                    class="checkbox"
                    >

                    <label><input
                        type="checkbox"
                        > Não sou brasileiro
                    </label>

                </div>

            </div>

            <fieldset>

                <legend>Documento de Identificação</legend>

                <div
                    class="form-group"
                    >

                    <label
                        for="cpf"
                        ><abbr
                            class="initialism"
                            title="Cadastro de Pessoa Física"
                            >CPF
                        </abbr>
                    </label>

                    <input
                        class="form-control"
                        id="cpf"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="nome_do_documento"
                        >Nome do Documento
                    </label>

                    <input
                        class="form-control"
                        id="nome_do_documento"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="codigo_do_documento"
                        >Còdigo do Documento
                    </label>

                    <input
                        class="form-control"
                        id="codigo_do_documento"
                        type="text"
                        >

                </div>

            </fieldset>

            <fieldset>

                <legend>Telefones</legend>

                <div
                    class="form-group"
                    >

                    <label
                        for="codigo_internacional_1"
                        >Código Internacional
                    </label>

                    <input
                        class="form-control"
                        id="codigo_internacional_1"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="codigo_nacional_1"
                        >Código Nacional
                    </label>

                    <input
                        class="form-control"
                        id="codigo_nacional_1"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="numero_1"
                        >Número
                    </label>

                    <input
                        class="form-control"
                        id="numero_1"
                        type="text"
                        >

                </div>

                <hr>

                <div
                    class="form-group"
                    >

                    <label
                        for="codigo_internacional_2"
                        >Código Internacional
                    </label>

                    <input
                        class="form-control"
                        id="codigo_internacional_2"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="codigo_nacional_2"
                        >Código Nacional
                    </label>

                    <input
                        class="form-control"
                        id="codigo_nacional_2"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="numero_2"
                        >Número
                    </label>

                    <input
                        class="form-control"
                        id="numero_2"
                        type="text"
                        >

                </div>

                <hr>

                <div
                    class="form-group"
                    >

                    <label
                        for="codigo_internacional_3"
                        >Código Internacional
                    </label>

                    <input
                        class="form-control"
                        id="codigo_internacional_3"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="codigo_nacional_3"
                        >Código Nacional
                    </label>

                    <input
                        class="form-control"
                        id="codigo_nacional_3"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="numero_3"
                        >Número
                    </label>

                    <input
                        class="form-control"
                        id="numero_3"
                        type="text"
                        >

                </div>

            </fieldset>

            <fieldset>

                <legend>Endereço</legend>

                <div
                    class="form-group"
                    >

                    <label
                        for="logradouro"
                        >Logradouro
                    </label>

                    <input
                        class="form-control"
                        id="logradouro"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="numero"
                        >Número
                    </label>

                    <input
                        class="form-control"
                        id="numero"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="complemento"
                        >Complemento
                    </label>

                    <input
                        class="form-control"
                        id="complemento"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="bairro"
                        >Bairro
                    </label>

                    <input
                        class="form-control"
                        id="bairro"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="localidade"
                        >Localidade
                    </label>

                    <input
                        class="form-control"
                        id="localidade"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="uf"
                        ><abbr
                            class="initialism"
                            title="Unidade Federativa"
                            >UF
                        </abbr>
                    </label>

                    <input
                        class="form-control"
                        id="uf"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="cep"
                        ><abbr
                            class="initialism"
                            title="Código de Endereçamento Postal"
                            >CEP
                        </abbr>
                    </label>

                    <input
                        class="form-control"
                        id="cep"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="endereco"
                        >Endereço Completo
                    </label>

                    <textarea
                        class="form-control"
                        id="endereco"
                        rows="3"
                        >
                    </textarea>

                </div>

            </fieldset>

            <fieldset>

                <legend>Detalhes da Inscrição</legend>

                <div
                    class="form-group"
                    >

                    <label
                        for="nome_no_cracha"
                        >Nome no Crachá
                    </label>

                    <input
                        class="form-control"
                        id="nome_no_cracha"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="categoria"
                        >Categoria
                    </label>

                    <div
                        class="radio"
                        >

                        <label><input
                            checked
                            id="Estudante"
                            name="categoria"
                            type="radio"
                            value="Estudante"
                            > Estudante
                        </label>

                    </div>

                    <div
                        class="radio"
                        >

                        <label><input
                            id="Profissional"
                            name="categoria"
                            type="radio"
                            value="Profissional"
                            > Profissional
                        </label>

                    </div>

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="curso_ou_formacao"
                        >Curso ou Formação
                    </label>

                    <input
                        class="form-control"
                        id="curso_ou_formacao"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="acronimo_da_instituicao_ou_empresa"
                        >Acrônimo da Instituição ou Empresa
                    </label>

                    <input
                        class="form-control"
                        id="acronimo_da_instituicao_ou_empresa"
                        type="text"
                        >

                </div>

                <div
                    class="form-group"
                    >

                    <label
                        for="nome_da_instituicao_ou_empresa"
                        >Nome da Instituição ou Empresa
                    </label>

                    <input
                        class="form-control"
                        id="nome_da_instituicao_ou_empresa"
                        type="text"
                        >

                </div>

            </fieldset>

            <button
                class="btn btn-default"
                type="submit"
                >Salvar
            </button>

        </form>

    </div>

</div>
