<div
    id="home"
    class="row"
    >

    <div class="col-md-12">

        <h1>SIGLA 2014</h1>

        <p class="lead">Participe do Simpósio Interamericano de Gastroenterologia Laparoscópica Avançada. Inscrições abertas.</p>

        <div class="row">

            <div class="col-md-6 col-md-offset-3">

                <a
                    href="/ficha"
                    class="btn btn-lg btn-success btn-block"
                    role="button"
                    >Desejo me inscrever</a>

                <button
                    class="btn btn-lg btn-info btn-block"
                    >Já estou inscrito</button>

            </div>

        </div>

    </div>

</div>
