<div
    class="row"
    id="home"
    >
    <div
        class="col-md-12"
        >
        <h1
            class="text-center"
            >
            VIII FBEA
        </h1>
        <p
            class="lead text-center"
            >
            Participe do Fórum Brasileiro de Educação Ambiental. Inscrições abertas.
        </p>
        <div
            class="row"
            >
            <div
                class="col-md-4 col-md-offset-2"
                data-ng-if="!session.inscricao"
                >
                <a
                    class="btn btn-lg btn-success btn-block"
                    href="/inscricao/nova"
                    role="button"
                    >
                    Desejo me inscrever
                </a>
            </div>
            <div
                class="col-md-4"
                data-ng-if="!session.inscricao"
                >
                <button
                    class="btn btn-lg btn-info btn-block"
                    data-ng-click="session.login()"
                    >
                    Já estou inscrito
                </button>
            </div>
        </div>
    </div>
</div>
