<div
    class="row"
    id="inscricao"
    >

    <div
        class="col-md-12"
        >

        <h1>Inscrição</h1>

        <hr>

        <dl>

            <dt>Nome</dt>
            <dd>{{inscrito.nome_completo}}</dd>

            <dt>Data de Nascimento</dt>
            <dd>{{inscrito.data_de_nascimento}}</dd>

            <dt>Sexo</dt>
            <dd>{{inscrito.sexo}}</dd>

            <dt>E-mail</dt>
            <dd>{{inscrito.email}}</dd>

            <dt
                data-ng-if="!inscrito.estrangeiro"
                >
                <abbr
                    class="initialism"
                    title="Cadastro de Pessoa Física"
                    >CPF
                </abbr>
            </dt>
            <dd
                data-ng-if="!inscrito.estrangeiro"
                >{{inscrito.cpf}}
            </dd>

            <dt
                data-ng-if="inscrito.estrangeiro"
                >Documento de Identificação
            </dt>
            <dd
                data-ng-if="inscrito.estrangeiro"
                >{{inscrito.nome_do_documento}}
            </dd>
            <dd
                data-ng-if="inscrito.estrangeiro"
                >{{inscrito.numero_do_documento}}
            </dd>

            <dt>Telefones</dt>
            <dd
                data-ng-show="showPhone('1')"
                >+{{inscrito.codigo_internacional_1}} {{inscrito.codigo_nacional_1}} {{inscrito.numero_1}}
            </dd>
            <dd
                data-ng-show="showPhone('2')"
                >+{{inscrito.codigo_internacional_2}} {{inscrito.codigo_nacional_2}} {{inscrito.numero_2}}
            </dd>
            <dd
                data-ng-show="showPhone('3')"
                >+{{inscrito.codigo_internacional_3}} {{inscrito.codigo_nacional_3}} {{inscrito.numero_3}}
            </dd>

            <dt>Endereço</dt>
            <dd
                data-ng-if="inscrito.estrangeiro"
                >
                <address
                    data-ng-bind-html="inscrito.endereco | nl2br"
                    >
                </address>
            </dd>
            <dd
                data-ng-if="!inscrito.estrangeiro"
                >
                <address>
                    {{inscrito.logradouro}}, {{inscrito.numero}}
                    <br>
                    {{inscrito.complemento}}
                    <br>
                    {{inscrito.bairro}}
                    <br>
                    {{inscrito.localidade}}-{{inscrito.uf}}
                    <br>
                    {{inscrito.cep}}
                </address>
            </dd>

        </dl>

        <h2>Detalhes da Inscrição</h2>

        <dl>

            <dt>Nome no Crachá</dt>
            <dd>{{detalhes.nome_no_cracha}}</dd>

            <dt>Categoria</dt>
            <dd>{{detalhes.categoria}}</dd>

            <dt>Curso ou Formação</dt>
            <dd>{{detalhes.curso_ou_formacao}}</dd>

            <dt
                data-ng-show="detalhes.acronimo_da_instituicao_ou_empresa"
                >Acrônimo da Instituição ou Empresa
            </dt>
            <dd
                data-ng-show="detalhes.acronimo_da_instituicao_ou_empresa"
                >{{detalhes.acronimo_da_instituicao_ou_empresa}}
            </dd>

            <dt>Nome da Instituição ou Empresa</dt>
            <dd>{{detalhes.nome_da_instituicao_ou_empresa}}</dd>

        </dl>

        <button
            class="btn btn-info"
            type="button"
            >Editar
        </button>

    </div>

</div>
