.mc-messenger {
    margin-bottom: 0px;
    opacity: 0.9;
    position: fixed;
}

.mc-messenger.ng-enter,
.mc-messenger.ng-leave,
.mc-messenger.ng-move {
    transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    -webkit-transition: 0.3s linear all;
}

.mc-messenger.ng-enter {
    opacity: 0;
}
.mc-messenger.ng-enter.ng-enter-active {
    opacity: 0.9;
}

.mc-messenger.ng-leave {
    opacity: 0.9;
}
.mc-messenger.ng-leave.ng-leave-active {
    opacity: 0;
}

.mc-messenger.ng-move {
    opacity: 0.5;
}
.mc-messenger.ng-move.ng-move-active {
    opacity: 0.9;
}

/*randomish*/
.randomish {
    background: white;
    border: 1px solid #adadad;
    height: 200px;
    left: 50%;
    margin-left: -200px;
    margin-top: -100px;
    opacity: 0.9;
    position: fixed;
    top: 50%;
    width: 400px;
    z-index: 3000;
}

.randomish > button {
    left: 50%;
    margin-left: -62.5px;
    margin-top: -22.5px;
    position: absolute;
    top: 50%;
}
