<div
    data-ng-controller="pagamentoController"
    >
    <h2>Situação de Pagamento</h2>
    <p>
        Para que sua inscrição seja efetivada basta realizar um depósito ou transferência no valor de <b>R${{valor}},00</b> e <strong>enviar uma cópia do comprovante de depósito ou tranferência para o endereço</strong>: <a href="mailto:inscricaoviiifbea@gmail.com">inscricaoviiifbea@gmail.com</a>.
    </p>
    <p>
        Os dados para a relização do depósito ou transferência são:
        <br>
    </p>
    <div class="well">
      Conta-Corrente: <strong>99.472-3</strong>
      <br>
      Agência: <strong>3702-8</strong> (Banco do Brasil)
      <br>
      Código Identificador: <strong>1.062.134-2</strong>
      <br>
      Titular: <strong>Fundação de Amparo e Desenvolvimento da Pesquisa - FADESP</strong>
    </div>
    <div
        class="alert alert-warning"
        >
        <strong>Atenção!</strong>
        O Código Identificador é indispensável.
    </div>
    <p>
        Neste momento o <i>status</i> de sua inscrição é:
        <br>
        <span
            class="label label-warning"
            data-ng-if="pagamento.status == 0"
            >
            Confirmação Pendente
        </span>
        <span
            class="label label-success"
            data-ng-if="pagamento.status == 1"
            >
            Confirmada
        </span>
        <span
            class="text-muted"
            data-ng-if="!pagamento.status &amp;&amp; !pagamento.url"
            >
            Verificando pagamento...
        </span>
    </p>
</div>
