<div
    data-ng-include="'/views/requestLogin.html'"
    >
</div>
<div
    class="row animate-show"
    data-ng-show="session.email"
    id="lista"
    >
    <div
        class="col-md-12"
        >
        <h1>Lista de Inscrições Pagas</h1>
        <hr>
        <div
            data-ng-if="emptyMessage"
            >
            <strong>{{emptyMessage}}</strong>
        </div>
        <div
            class="
                pull-right
            "
            >
            Total: <b>{{total}}</b> | Valor Total: <b>{{valorTotal | currency: 'R$'}}</b>
        </div>
        <br>
        <div
            class="table-responsive"
            data-ng-if="inscricoes"
            >
            <table
                class="table table-bordered table-hover"
                >
                <thead>
                    <tr>
                        <th
                            data-ng-show="show.nome_completo"
                            >
                            Nome
                        </th>
                        <th
                            data-ng-show="show.data_de_nascimento"
                            >
                            Nascimento
                        </th>
                        <th
                            data-ng-show="show.sexo"
                            >
                            Gênero
                        </th>
                        <th
                            data-ng-show="show.email"
                            >
                            E-mail
                        </th>
                        <th
                            data-ng-show="show.cpf"
                            >
                            <abbr
                                class="initialism"
                                title="Cadastro de Pessoa Física"
                                >
                                CPF
                            </abbr>
                        </th>
                        <th
                            data-ng-show="show.documento_de_identificacao"
                            >
                            Documento de Identificação
                        </th>
                        <th
                            data-ng-show="show.telefones"
                            >
                            Telefones
                        </th>
                        <th
                            data-ng-show="show.logradouro"
                            >
                            Logradouro
                        </th>
                        <th
                            data-ng-show="show.numero"
                            >
                            Número
                        </th>
                        <th
                            data-ng-show="show.complemento"
                            >
                            Complemento
                        </th>
                        <th
                            data-ng-show="show.bairro"
                            >
                            Bairro
                        </th>
                        <th
                            data-ng-show="show.localidade"
                            >
                            Localidade
                        </th>
                        <th
                            data-ng-show="show.cep">
                            <abbr
                                class="initialism"
                                title="Código de Endereçamento Postal"
                                >
                                CEP
                            </abbr>
                        </th>
                        <th
                            data-ng-show="show.endereco"
                            >
                            Endereço
                        </th>
                        <th
                            data-ng-show="show.valor"
                            >
                            Valor
                        </th>
                        <th
                            data-ng-show="show.data"
                            >
                            Data
                        </th>
                        <th
                            >
                            Confirmação
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        ng-repeat="inscricao in inscricoes"
                        >
                        <td
                            data-ng-show="show.nome_completo"
                            >
                            <!-- <a
                                href="/inscricao/{{inscricao.id}}"
                                > -->
                                {{inscricao.nome_completo | uppercase}}
                            <!-- </a> -->
                        </td>
                        <td
                            data-ng-show="show.data_de_nascimento"
                            >
                            {{inscricao.data_de_nascimento}}
                        </td>
                        <td
                            data-ng-show="show.sexo"
                            >
                            {{inscricao.sexo | uppercase}}
                        </td>
                        <td
                            data-ng-show="show.email"
                            >
                            {{inscricao.email}}
                        </td>
                        <td
                            data-ng-show="show.cpf"
                            >
                            {{inscricao.cpf}}
                        </td>
                        <td
                            data-ng-show="show.documento_de_identificacao"
                            >
                            {{inscricao.nome_do_documento}} {{inscricao.numero_do_documento}}
                        </td>
                        <td
                            data-ng-show="show.telefones"
                            >
                            <span
                                data-ng-show="
                                    inscricao
                                    &amp;&amp;
                                    inscricao.codigo_nacional_1
                                    &amp;&amp;
                                    inscricao.numero_1
                                "
                                >
                                {{inscricao.codigo_internacional_1}}
                                ({{inscricao.codigo_nacional_1}})
                                {{inscricao.numero_1}}
                            </span>
                            <span
                                data-ng-show="
                                    inscricao
                                    &amp;&amp;
                                    inscricao.codigo_nacional_2
                                    &amp;&amp;
                                    inscricao.numero_2
                                "
                                >
                                |
                                {{inscricao.codigo_internacional_2}}
                                ({{inscricao.codigo_nacional_2}})
                                {{inscricao.numero_2}}
                            </span>
                            <span
                                data-ng-show="
                                    inscricao
                                    &amp;&amp;
                                    inscricao.codigo_nacional_3
                                    &amp;&amp;
                                    inscricao.numero_3
                                "
                                >
                                |
                                {{inscricao.codigo_internacional_3}}
                                ({{inscricao.codigo_nacional_3}})
                                {{inscricao.numero_3}}
                            </span>
                        </td>
                        <td
                            data-ng-show="show.logradouro"
                            >
                            {{inscricao.logradouro}}
                        </td>
                        <td
                            data-ng-show="show.numero"
                            >
                            {{inscricao.numero}}
                        </td>
                        <td
                            data-ng-show="show.complemento"
                            >
                            {{inscricao.complemento}}
                        </td>
                        <td
                            data-ng-show="show.bairro"
                            >
                            {{inscricao.bairro}}
                        </td>
                        <td
                            data-ng-show="show.localidade"
                            >
                            {{inscricao.localidade}}
                        </td>
                        <td
                            data-ng-show="show.uf"
                            >
                            {{inscricao.uf}}
                        </td>
                        <td
                            data-ng-show="show.cep"
                            >
                            {{inscricao.cep}}
                        </td>
                        <td
                            data-ng-show="show.endereco"
                            >
                            {{inscricao.endereco}}
                        </td>
                        <td
                            data-ng-show="show.valor"
                            >
                            R${{inscricao.valor}},00
                        </td>
                        <td
                            data-ng-show="show.data"
                            >
                            {{formatDate(inscricao.data)}}
                        </td>
                        <td
                            style="text-align: center"
                            >
                            <button
                                class="
                                    btn
                                    btn-xs
                                "
                                data-ng-click="confirmar(inscricao.id, inscricao)"
                                data-ng-show="inscricao.status == 0"
                                >
                                Confirmar
                            </button>
                            <button
                                class="
                                    btn
                                    btn-success
                                    btn-xs
                                "
                                data-ng-click="confirmar(inscricao.id, inscricao)"
                                data-ng-show="inscricao.status == 1"
                                >
                                Confirmada
                            </button>
                            <span
                                data-ng-show="inscricao.status == 'erro'"
                                >
                                Erro!
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
