<div
    data-ng-include="'/views/requestLogin.html'"
    >
</div>
<div
    class="row"
    data-ng-show="session.email"
    id="inscricao"
    >
    <div
        class="col-md-12"
        >
        <h1>Inscrição</h1>
        <hr>
        <div
            data-ng-if="emptyMessage"
            >
            <strong>{{emptyMessage}}</strong>
        </div>
        <div
            class="row"
            >
            <div
                class="col-md-4"
                >
                <dl
                    data-ng-if="inscricao"
                    >
                    <dt
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.nome_completo
                        "
                        >
                        Nome
                    </dt>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.nome_completo
                        "
                        >
                        {{inscricao.nome_completo}}
                    </dd>
                    <dt
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.data_de_nascimento
                        "
                        >
                        Data de Nascimento
                    </dt>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.data_de_nascimento
                        "
                        >
                        {{inscricao.data_de_nascimento}}
                    </dd>
                    <dt
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.sexo
                        "
                        >
                        Sexo
                    </dt>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.sexo
                        "
                        >
                        {{inscricao.sexo}}
                    </dd>
                    <dt
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.email
                        "
                        >
                        E-mail
                    </dt>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.email
                        "
                        >
                        {{inscricao.email}}
                    </dd>
                    <dt
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            !inscricao.estrangeiro
                            &amp;&amp;
                            inscricao.cpf
                        "
                        >
                        <abbr
                            class="initialism"
                            title="Cadastro de Pessoa Física"
                            >
                            CPF
                        </abbr>
                    </dt>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            !inscricao.estrangeiro
                            &amp;&amp;
                            inscricao.cpf
                        "
                        >
                        {{inscricao.cpf}}
                    </dd>
                    <dt
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.estrangeiro
                            &amp;&amp;
                            inscricao.nome_do_documento
                            &amp;&amp;
                            inscricao.numero_do_documento
                        "
                        >Documento de Identificação
                    </dt>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.estrangeiro
                            &amp;&amp;
                            inscricao.nome_do_documento
                            &amp;&amp;
                            inscricao.numero_do_documento
                        "
                        >
                        {{inscricao.nome_do_documento}}
                        <br>
                        {{inscricao.numero_do_documento}}
                    </dd>
                    <dt
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.codigo_nacional_1
                            &amp;&amp;
                            inscricao.numero_1
                        "
                        >
                        Telefones
                    </dt>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.codigo_nacional_1
                            &amp;&amp;
                            inscricao.numero_1
                        "
                        >
                        +{{inscricao.codigo_internacional_1}} ({{inscricao.codigo_nacional_1}}) {{inscricao.numero_1}}
                    </dd>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.codigo_nacional_2
                            &amp;&amp;
                            inscricao.numero_2
                        "
                        >
                        +{{inscricao.codigo_internacional_2}} ({{inscricao.codigo_nacional_2}}) {{inscricao.numero_2}}
                    </dd>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.codigo_nacional_3
                            &amp;&amp;
                            inscricao.numero_3
                        "
                        >
                        +{{inscricao.codigo_internacional_3}} ({{inscricao.codigo_nacional_3}}) {{inscricao.numero_3}}
                    </dd>
                    <dt
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            ((
                            inscricao.logradouro
                            &amp;&amp;
                            inscricao.numero
                            &amp;&amp;
                            inscricao.bairro
                            &amp;&amp;
                            inscricao.localidade
                            &amp;&amp;
                            inscricao.uf
                            &amp;&amp;
                            inscricao.cep
                            ) ||
                            inscricao.endereco
                            )
                        "
                        >
                        Endereço
                    </dt>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            ((
                            inscricao.logradouro
                            &amp;&amp;
                            inscricao.numero
                            &amp;&amp;
                            inscricao.bairro
                            &amp;&amp;
                            inscricao.localidade
                            &amp;&amp;
                            inscricao.uf
                            &amp;&amp;
                            inscricao.cep
                            ) ||
                            inscricao.endereco
                            )
                        "
                        >
                        <address
                            data-ng-if="
                                inscricao
                                &amp;&amp;
                                !inscricao.estrangeiro
                            "
                            >
                            {{inscricao.logradouro}}, {{inscricao.numero}}
                            <br>
                            {{inscricao.complemento}}
                            <br>
                            {{inscricao.bairro}}
                            <br>
                            {{inscricao.localidade}}-{{inscricao.uf}}
                            <br>
                            {{inscricao.cep}}
                        </address>
                        <address
                            data-ng-bind-html="inscricao.endereco | nl2br"
                            data-ng-if="
                                inscricao
                                &amp;&amp;
                                inscricao.estrangeiro
                            "
                            >
                        </address>
                    </dd>
                </dl>
                <h2
                    data-ng-if="
                        inscricao
                        &amp;&amp;
                        inscricao.nome_no_cracha
                        &amp;&amp;
                        inscricao.categoria
                        &amp;&amp;
                        inscricao.curso_ou_formacao
                        &amp;&amp;
                        inscricao.nome_da_instituicao_ou_empresa;
                    "
                    >
                    Detalhes da Inscrição
                </h2>
                <dl
                    data-ng-if="inscricao"
                    >
                    <dt
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.nome_no_cracha
                        "
                        >
                        Nome no Crachá
                    </dt>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.nome_no_cracha
                        "
                        >
                        {{inscricao.nome_no_cracha}}
                    </dd>
                    <dt
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.categoria
                        "
                        >
                        Categoria
                    </dt>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.categoria
                        "
                        >
                        {{inscricao.categoria}}
                    </dd>
                    <dt
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.curso_ou_formacao
                        "
                        >
                        Curso ou Formação
                    </dt>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.curso_ou_formacao
                        "
                        >
                        {{inscricao.curso_ou_formacao}}
                    </dd>
                    <dt
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.acronimo_da_instituicao_ou_empresa
                        "
                        >
                        Acrônimo da Instituição ou Empresa
                    </dt>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.acronimo_da_instituicao_ou_empresa
                        "
                        >
                        {{inscricao.acronimo_da_instituicao_ou_empresa}}
                    </dd>
                    <dt
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.nome_da_instituicao_ou_empresa
                        "
                        >
                        Nome da Instituição ou Empresa
                    </dt>
                    <dd
                        data-ng-if="
                            inscricao
                            &amp;&amp;
                            inscricao.nome_da_instituicao_ou_empresa
                        "
                        >
                        {{inscricao.nome_da_instituicao_ou_empresa}}
                    </dd>
                </dl>
                <a
                    class="btn btn-info"
                    data-ng-href="/inscricao/{{inscricao.id}}/editar"
                    data-ng-if="inscricao"
                    >
                    Editar
                </a>
            </div>
            <div
                class="col-md-4">
                <div
                    data-ng-if="inscricao"
                    data-ng-include="'/modules/pagamento/pagamento.html'"
                    >
                </div>
                <hr>
                <div
                    data-ng-if="inscricao"
                    data-ng-include="'/modules/uploader/uploader.html'"
                    >
                </div>
            </div>
        </div>
    </div>
</div>
